@import 'variables.scss';

body {
  font-family: 'Roboto', sans-serif;
}

input.search {
  height: 55px;
  width: 100%;
  background-size: 34px;
  border-radius: 28px;
  border: 1px solid $color-grey;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-origin: padding-box;
  padding: 5px 50px 5px 15px;
  @media screen and (min-width: $screen-md-min) {
    width: 400px;
  }
}

.fmr-container {
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $screen-md-min) {
    margin: 0 70px;
  }
}

.fmr-sections {
  padding: 50px 0 10px;
  @media screen and (min-width: $screen-lg-min) {
    padding: 80px 0 70px 0;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding: 120px 0 100px 0;
  }

  .fmr-section-link {
    font-size: 30px;
    color: $color-red;
    font-weight: bold;
    display: block;
    margin-bottom: 50px;
    @media screen and (min-width: $screen-xl-min) {
      margin-bottom: 0;
      font-size: 40px;
    }

    img {
      display: block;
      height: 60px;
      margin: 0 auto;
      @media screen and (min-width: $screen-xl-min) {
        height: 120px;
      }
    }
  }
}

.w100 {
  width: 100%;
}

.fmr-page-title {
  background-color: rgba($color-dark-grey, 0.25);
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 40px;

  h2 {
    margin: 0;
    color: $color-black;
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.fmr-page-section-title {
  font-size: 54px;
  font-weight: bold;
  text-align: center;
}

.fmr-page-section-intro {
  font-size: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.fmr-tiles {
  display: flex;
  flex-wrap: wrap;
  
  @media screen and (min-width: $screen-md-min) {
    height: 100vw;
  }
  @media screen and (min-width: $screen-lg-min) {
    height: 74vw;
  }

  .fmr-tile {
    height: calc(100%/3);
    position: relative;
    background-size: cover;
    color: $color-white;

    &>div{
      padding-top: 35px;
      padding-bottom: 35px;
      @media screen and (min-width: $screen-md-min) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .double-height {
    @media screen and (min-width: $screen-md-min) {
      height: 200%;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .yellow-tile {
    background-color: $color-yellow;
  }
  .red-tile {
    background-color: $color-red;
  }
  .grey-tile {
    background-color: $color-dark-grey;
  }
  .black-text {
    color: $color-black;
  }

  .tile-lg-6 {
    flex: 0 0 100%;
    @media screen and (min-width: $screen-md-min) {
      flex: 0 0 50%;
    }
  }
  .tile-lg-3 {
    flex: 0 0 100%;
    @media screen and (min-width: $screen-md-min) {
      flex: 0 0 25%;
    }
  }

  .global-risks {
    background: url(../img/globalrisks.jpg) no-repeat top left;
    background-size: cover;

    &>div {
      padding-top: 150px;
      @media screen and (min-width: $screen-md-min) {
        padding-top: 0;
      }
    }
  }
  .directiva {
    background: url(../img/directiva.jpg) no-repeat center;
    background-size: cover;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (min-width: $screen-xl-min) {
      padding-right: 25px;
      padding-left: 100px;
      background-position: top left;
    }

    h2 {
      margin-top: 0;
      font-size: 30px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 32px;
      }
      @media screen and (min-width: $screen-xl-min) {
        font-size: 50px;
      }
      font-weight: bold;
    }
  }
  .sostenibilidad {
    background: url(../img/sostenibilidad.jpg) no-repeat center;
    background-size: cover;
    @media screen and (min-width: $screen-lg-min) {
      background-position: top left;
    }

    &>div {
      padding-top: 150px;
      @media screen and (min-width: $screen-md-min) {
        padding-top: 0;
      }
    }
  }

  .tile-center {
    display: flex;
    align-items: center;
  }

  .event-day {
    font-size: 70px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 80px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 170px;
    }
    line-height: 1;
    margin: 0;
  }
  .event-month {
    font-size: 30px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 40px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 72px;
    }
    line-height: 1;
  }
  .event-link {
    font-size: 30px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 32px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 46px;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .tile-padding {
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $screen-md-min) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (min-width: $screen-xl-min) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .tile-bottom {
    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: flex-end;
      padding-bottom: 60px !important;
    }
  }

  .bold-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    @media screen and (min-width: $screen-xl-min) {
      font-size: 80px;
    }
  }
  .subtitle {
    font-size: 30px;
    @media screen and (min-width: $screen-xl-min) {
      font-size: 45px;
    }
  }

  .white-button {
    background-color: $color-white;
    color: $color-button-black;
    border-radius: 34px;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 24px;
    display: inline-block;
    @media screen and (min-width: $screen-md-min) {
      font-size: 26px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 36px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.fmr-directive-list {
  padding-top: 40px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .fmr-directive-list-item {
    flex: 0 0 45%;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-xs-min) {
      flex: 0 0 30%;
    }
    @media screen and (min-width: $screen-sm-min) {
      flex: 0 0 21%;
    }
    @media screen and (min-width: $screen-lg-min) {
      flex: 0 0 17%;
    }

    img {
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
    }
  }
}

.fmr-publications-list {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .fmr-publications-list-item {
    border: 1px solid $color-grey;
    border-radius: 40px;
    margin-bottom: 30px;
    flex: 0 0 45%;
    @media screen and (min-width: $screen-xs-min) {
      flex: 0 0 30%;
    }
    @media screen and (min-width: $screen-sm-min) {
      flex: 0 0 21%;
    }
    @media screen and (min-width: $screen-lg-min) {
      flex: 0 0 17%;
    }

    img {
      max-height: 180px;
      object-fit: cover;
      margin-bottom: 11px;
      width: 100%;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }

    .date {
      font-size: 16px;
      font-weight: bold;
      color: $color-black;
      text-align: center;
    }
    
    .filename {
      font-size: 20px;
      font-weight: bold;
      color: $color-red-text;
      text-align: center;
    }

    .filelink {
      font-size: 14px;
      text-align: center;
      margin-bottom: 20px;
      a {
        color: $color-red-text;
        text-decoration: underline;
      }
    }
  }
}

.fmr-directory {
  form {
    text-align: center;
    margin-bottom: 20px;
    label {
      font-size: 32px;
      font-weight: normal;
      vertical-align: middle;
      margin-right: 30px;
    }
  }

  .alphabet {
    margin: 0 0 30px;
    border-bottom: 13px solid $color-black;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 10px;
    padding-right: 10px;

    li {
      a{
        color: $color-black;
        font-size: 16px;
      }

      &.active a {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .company-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .company-list-item {
      margin-bottom: 15px;
      flex: 0 0 45%;
      @media screen and (min-width: $screen-xs-min) {
        flex: 0 0 30%;
      }
      @media screen and (min-width: $screen-sm-min) {
        flex: 0 0 21%;
      }
      @media screen and (min-width: $screen-lg-min) {
        flex: 0 0 17%;
      }

      a {
        display: block;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        border: 13px solid $color-white;
        background-color: $color-light-grey;
      }
      &.active a, a:hover {
        border-color: $color-dark-grey;
      }
      img {
        border-radius: 50%;
      }
    }
  }

  .company-detail {
    margin-bottom: 50px;

    h3 {
      color: $color-black;
      font-weight: bold;
      font-size: 32px;
    }
  }
}