body {
  font-family: 'Roboto', sans-serif;
}

input.search {
  height: 55px;
  width: 100%;
  background-size: 34px;
  border-radius: 28px;
  border: 1px solid #707070;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-origin: padding-box;
  padding: 5px 50px 5px 15px;
}

@media screen and (min-width: 992px) {
  input.search {
    width: 400px;
  }
}

.fmr-container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 992px) {
  .fmr-container {
    margin: 0 70px;
  }
}

.fmr-sections {
  padding: 50px 0 10px;
}

@media screen and (min-width: 1200px) {
  .fmr-sections {
    padding: 80px 0 70px 0;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-sections {
    padding: 120px 0 100px 0;
  }
}

.fmr-sections .fmr-section-link {
  font-size: 30px;
  color: #e32b06;
  font-weight: bold;
  display: block;
  margin-bottom: 50px;
}

@media screen and (min-width: 1920px) {
  .fmr-sections .fmr-section-link {
    margin-bottom: 0;
    font-size: 40px;
  }
}

.fmr-sections .fmr-section-link img {
  display: block;
  height: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 1920px) {
  .fmr-sections .fmr-section-link img {
    height: 120px;
  }
}

.w100 {
  width: 100%;
}

.fmr-page-title {
  background-color: rgba(83, 86, 90, 0.25);
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.fmr-page-title h2 {
  margin: 0;
  color: #292828;
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
}

.fmr-page-section-title {
  font-size: 54px;
  font-weight: bold;
  text-align: center;
}

.fmr-page-section-intro {
  font-size: 20px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.fmr-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
  .fmr-tiles {
    height: 100vw;
  }
}

@media screen and (min-width: 1200px) {
  .fmr-tiles {
    height: 74vw;
  }
}

.fmr-tiles .fmr-tile {
  height: calc(100%/3);
  position: relative;
  background-size: cover;
  color: #ffffff;
}

.fmr-tiles .fmr-tile > div {
  padding-top: 35px;
  padding-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .fmr-tile > div {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .fmr-tiles .double-height {
    height: 200%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.fmr-tiles .yellow-tile {
  background-color: #fdd800;
}

.fmr-tiles .red-tile {
  background-color: #e32b06;
}

.fmr-tiles .grey-tile {
  background-color: #53565a;
}

.fmr-tiles .black-text {
  color: #292828;
}

.fmr-tiles .tile-lg-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .tile-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.fmr-tiles .tile-lg-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .tile-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.fmr-tiles .global-risks {
  background: url(../img/globalrisks.jpg) no-repeat top left;
  background-size: cover;
}

.fmr-tiles .global-risks > div {
  padding-top: 150px;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .global-risks > div {
    padding-top: 0;
  }
}

.fmr-tiles .directiva {
  background: url(../img/directiva.jpg) no-repeat center;
  background-size: cover;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .directiva {
    padding-right: 25px;
    padding-left: 100px;
    background-position: top left;
  }
}

.fmr-tiles .directiva h2 {
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .directiva h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .directiva h2 {
    font-size: 50px;
  }
}

.fmr-tiles .sostenibilidad {
  background: url(../img/sostenibilidad.jpg) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .fmr-tiles .sostenibilidad {
    background-position: top left;
  }
}

.fmr-tiles .sostenibilidad > div {
  padding-top: 150px;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .sostenibilidad > div {
    padding-top: 0;
  }
}

.fmr-tiles .tile-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fmr-tiles .event-day {
  font-size: 70px;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .event-day {
    font-size: 80px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .event-day {
    font-size: 170px;
  }
}

.fmr-tiles .event-month {
  font-size: 30px;
  line-height: 1;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .event-month {
    font-size: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .event-month {
    font-size: 72px;
  }
}

.fmr-tiles .event-link {
  font-size: 30px;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .event-link {
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .event-link {
    font-size: 46px;
  }
}

.fmr-tiles .event-link a {
  color: inherit;
  text-decoration: underline;
}

.fmr-tiles .tile-padding {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .tile-padding {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .tile-padding {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 992px) {
  .fmr-tiles .tile-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 60px !important;
  }
}

.fmr-tiles .bold-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .bold-title {
    font-size: 80px;
  }
}

.fmr-tiles .subtitle {
  font-size: 30px;
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .subtitle {
    font-size: 45px;
  }
}

.fmr-tiles .white-button {
  background-color: #ffffff;
  color: #242424;
  border-radius: 34px;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 24px;
  display: inline-block;
}

@media screen and (min-width: 992px) {
  .fmr-tiles .white-button {
    font-size: 26px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-tiles .white-button {
    font-size: 36px;
  }
}

.fmr-tiles .white-button:hover {
  text-decoration: none;
}

.fmr-directive-list {
  padding-top: 40px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fmr-directive-list .fmr-directive-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin-bottom: 30px;
}

@media screen and (min-width: 550px) {
  .fmr-directive-list .fmr-directive-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media screen and (min-width: 768px) {
  .fmr-directive-list .fmr-directive-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
            flex: 0 0 21%;
  }
}

@media screen and (min-width: 1200px) {
  .fmr-directive-list .fmr-directive-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
  }
}

.fmr-directive-list .fmr-directive-list-item img {
  margin-bottom: 20px;
}

.fmr-directive-list .fmr-directive-list-item p {
  font-size: 20px;
}

.fmr-publications-list {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fmr-publications-list .fmr-publications-list-item {
  border: 1px solid #707070;
  border-radius: 40px;
  margin-bottom: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media screen and (min-width: 550px) {
  .fmr-publications-list .fmr-publications-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media screen and (min-width: 768px) {
  .fmr-publications-list .fmr-publications-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
            flex: 0 0 21%;
  }
}

@media screen and (min-width: 1200px) {
  .fmr-publications-list .fmr-publications-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
  }
}

.fmr-publications-list .fmr-publications-list-item img {
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 11px;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.fmr-publications-list .fmr-publications-list-item .date {
  font-size: 16px;
  font-weight: bold;
  color: #292828;
  text-align: center;
}

.fmr-publications-list .fmr-publications-list-item .filename {
  font-size: 20px;
  font-weight: bold;
  color: #dc1700;
  text-align: center;
}

.fmr-publications-list .fmr-publications-list-item .filelink {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.fmr-publications-list .fmr-publications-list-item .filelink a {
  color: #dc1700;
  text-decoration: underline;
}

.fmr-directory form {
  text-align: center;
  margin-bottom: 20px;
}

.fmr-directory form label {
  font-size: 32px;
  font-weight: normal;
  vertical-align: middle;
  margin-right: 30px;
}

.fmr-directory .alphabet {
  margin: 0 0 30px;
  border-bottom: 13px solid #292828;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 10px;
  padding-right: 10px;
}

.fmr-directory .alphabet li a {
  color: #292828;
  font-size: 16px;
}

.fmr-directory .alphabet li.active a {
  font-size: 30px;
  font-weight: bold;
}

.fmr-directory .company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.fmr-directory .company-list .company-list-item {
  margin-bottom: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media screen and (min-width: 550px) {
  .fmr-directory .company-list .company-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media screen and (min-width: 768px) {
  .fmr-directory .company-list .company-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
            flex: 0 0 21%;
  }
}

@media screen and (min-width: 1200px) {
  .fmr-directory .company-list .company-list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17%;
            flex: 0 0 17%;
  }
}

.fmr-directory .company-list .company-list-item a {
  display: block;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  border: 13px solid #ffffff;
  background-color: #f4f2f3;
}

.fmr-directory .company-list .company-list-item.active a, .fmr-directory .company-list .company-list-item a:hover {
  border-color: #53565a;
}

.fmr-directory .company-list .company-list-item img {
  border-radius: 50%;
}

.fmr-directory .company-detail {
  margin-bottom: 50px;
}

.fmr-directory .company-detail h3 {
  color: #292828;
  font-weight: bold;
  font-size: 32px;
}
/*# sourceMappingURL=content.css.map */