.fmr-footer {
  background-color: #53565a;
  padding: 35px 0;
  color: #ffffff;
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  .fmr-footer {
    font-size: 24px;
  }
}

.fmr-footer h3 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .fmr-footer h3 {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.fmr-footer a {
  color: inherit;
}
/*# sourceMappingURL=footer.css.map */