@import 'variables.scss';

.fmr-footer {
  background-color: $color-dark-grey;
  padding: 35px 0;
  color: $color-white;
  font-size: 18px;
  @media screen and (min-width: $screen-md-min) {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    @media screen and (min-width: $screen-md-min) {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }

  a {
    color: inherit;
  }
}