@import 'variables.scss';

.fmr-header{
  background-color: $color-soft-grey;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  @media screen and (min-width: $screen-lg-min) {
    display: flex;
    padding-right: 15px;
    padding: 15px 15px 25px 15px;
  }
  @media screen and (min-width: $screen-xl-min) {
    padding: 30px 30px 50px 30px;
  }

  .navbar-header {
    @media screen and (min-width: $screen-lg-min) {
      width: 15%;
    }
    @media screen and (min-width: $screen-lg-to-xl) {
      width: 30%;
    }
    h1 {
      margin-bottom: 0;
      margin-top: 0;
  
      img {
        max-width: 100%;
        
      }
    }
    .navbar-toggle {
      border: 1px solid $color-grey;
      padding: 12px 8px;
      .icon-bar {
        background-color: $color-grey;
      }
    }
  }

  .right-header {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $screen-md-min) {
      
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 85%;
      text-align: right;
    }
    @media screen and (min-width: $screen-xl-min) {
      width: 70%;
    }

    a {
      color: $color-text-black;
    }

    .nav.navbar-nav > li + li {
      @media screen and (min-width: $screen-lg-min) {
        border-left: 1px solid $color-text-black;
      }
    }

    .top-menu {
      font-size: 18px;
      @media screen and (min-width: $screen-xl-min) {
        font-size: 20px;
      }
      .nav.navbar-nav {
        margin-top: 10px;

        & > li >a {
          font-weight: bold;
        }
      }
    }

    .bottom-menu {
      font-size: 20px;
      @media screen and (min-width: $screen-xl-min) {
        font-size: 24px;
      }
    }

    li.dropdown {
      .dropdown-toggle .chevron:before {
        display: inline-block;
        content: '<';
        font-weight: bold;
        font-size: 32px;
        line-height: 0;
        color: $color-red;
        transform: rotate(-90deg);
        @media screen and (min-width: $screen-xl-min) {
          margin-left: 10px;
        }
      }
      &.open {
        .dropdown-toggle .chevron:before {
          transform: rotate(90deg);
        }
      }
    }
  }

  @media screen and (max-width: $screen-lg-max) {
    .navbar-header {
      float: none;
      h1 {
        display: inline-block;
        img {
          max-height: 60px;
        }
      }
    }
    .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      &.collapse {
        display: none !important;
  
        &.in{
          display: block !important;
        }
      }
    }
    .navbar-nav {
      float: none !important;
      margin: 7.5px -15px;
      &>li {
        float: none;
        &>a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .navbar-form {
      padding-left: 0;
      padding-bottom: 0;
      .search {
        width: 100%;
      }
    }
  }
}