.fmr-header {
  background-color: #F9FAF7;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 1200px) {
  .fmr-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 15px;
    padding: 15px 15px 25px 15px;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-header {
    padding: 30px 30px 50px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .fmr-header .navbar-header {
    width: 15%;
  }
}

@media screen and (min-width: 1420px) {
  .fmr-header .navbar-header {
    width: 30%;
  }
}

.fmr-header .navbar-header h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.fmr-header .navbar-header h1 img {
  max-width: 100%;
}

.fmr-header .navbar-header .navbar-toggle {
  border: 1px solid #707070;
  padding: 12px 8px;
}

.fmr-header .navbar-header .navbar-toggle .icon-bar {
  background-color: #707070;
}

.fmr-header .right-header {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .fmr-header .right-header {
    width: 85%;
    text-align: right;
  }
}

@media screen and (min-width: 1920px) {
  .fmr-header .right-header {
    width: 70%;
  }
}

.fmr-header .right-header a {
  color: #292828;
}

@media screen and (min-width: 1200px) {
  .fmr-header .right-header .nav.navbar-nav > li + li {
    border-left: 1px solid #292828;
  }
}

.fmr-header .right-header .top-menu {
  font-size: 18px;
}

@media screen and (min-width: 1920px) {
  .fmr-header .right-header .top-menu {
    font-size: 20px;
  }
}

.fmr-header .right-header .top-menu .nav.navbar-nav {
  margin-top: 10px;
}

.fmr-header .right-header .top-menu .nav.navbar-nav > li > a {
  font-weight: bold;
}

.fmr-header .right-header .bottom-menu {
  font-size: 20px;
}

@media screen and (min-width: 1920px) {
  .fmr-header .right-header .bottom-menu {
    font-size: 24px;
  }
}

.fmr-header .right-header li.dropdown .dropdown-toggle .chevron:before {
  display: inline-block;
  content: '<';
  font-weight: bold;
  font-size: 32px;
  line-height: 0;
  color: #e32b06;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (min-width: 1920px) {
  .fmr-header .right-header li.dropdown .dropdown-toggle .chevron:before {
    margin-left: 10px;
  }
}

.fmr-header .right-header li.dropdown.open .dropdown-toggle .chevron:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 1199px) {
  .fmr-header .navbar-header {
    float: none;
  }
  .fmr-header .navbar-header h1 {
    display: inline-block;
  }
  .fmr-header .navbar-header h1 img {
    max-height: 60px;
  }
  .fmr-header .navbar-right {
    float: none !important;
  }
  .fmr-header .navbar-toggle {
    display: block;
  }
  .fmr-header .navbar-collapse {
    border-top: 1px solid transparent;
  }
  .fmr-header .navbar-collapse.collapse {
    display: none !important;
  }
  .fmr-header .navbar-collapse.collapse.in {
    display: block !important;
  }
  .fmr-header .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .fmr-header .navbar-nav > li {
    float: none;
  }
  .fmr-header .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fmr-header .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .fmr-header .navbar-form {
    padding-left: 0;
    padding-bottom: 0;
  }
  .fmr-header .navbar-form .search {
    width: 100%;
  }
}
/*# sourceMappingURL=header.css.map */