$color-soft-grey: #F9FAF7;
$color-white: #ffffff;
$color-text-black: #292828;
$color-grey: #707070;
$color-red: #e32b06;
$color-red-text: #dc1700;
$color-dark-grey: #53565a;
$color-yellow: #fdd800;
$color-button-black: #242424;
$color-black: #292828;
$color-light-grey: #f4f2f3;

$screen-xs-min: 550px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-max: 1199px;
$screen-lg-min: 1200px;
$screen-lg-to-xl: 1420px;
$screen-xl-min: 1920px;